* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #DCE8FF ;
}
header {
    color: white;
    background-color: #1F3A8B;
    height: 100px;
    display: flex;
    align-items: center;
} .menu_container {
    margin-left: 30px;
} 
.logo_container {
    margin-left: 30px;
} .menu {
    width: 50px;
}
.logo {
    width: 100px;
    border-radius: 10px;
} .logo:hover {
    text-decoration: underline;
} .profile_container {
    margin-left: 84%;
}
.profile_icon {
    width: 60px;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
} .main_container {
    background-color: #3366FF;
    border-radius: 30px;
    width: 600px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
} .main_container_login {
    border: solid black;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.input_container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
} .bar {
    font-size: 15px;
    padding: 13px 20px;
    width: 400px;
    border: none;
    border-radius: 10px;
} .bar_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
} .button_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
} .button {
    font-weight: bold;
    font-size: 16px;
    padding: 15px 60px;
    border-radius: 20px;
    border: none;
    background-color: #3FDBF1;  
} .button:hover {
    color: white;
    background-color: #1F3A8B;
} .button:active {
    background-color: white;
    color: black;
}
.click {
    color: white;
    font-weight: bold;
} .click:hover {
    color: blue;
}